* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62,5%;
    --background: #2F2F33;
    --button: #065E7C;
    --input: #06181C;
    --input-font: #7C7C8A;
    --tableHead: #092D38;
    --tableBody1: #06161B;
    --tableBody2: #4A808C;
    --font: #E1E1E6;
    --fontRemove: #F75A68;
}

body {
    font-size: 1.6rem;
    color: var(--font);
    background-color: var(--background);
}

body * {
    font-family: "Roboto", sans-serif;
}

#app {
    padding: 2rem;
    max-width: 1000px;
    margin: 0 auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2.5rem 0;
}

header h1 {
    font-size: 2rem;
    font-weight: 400;
}

.search input {
    height: 2rem;
    width: 20rem;
    border-radius: .3rem;
    background-color: var(--input);
    color: var(--input-font);
    border: none;
    padding: 1rem;
}

.search button {
    height: 2rem;
    width: 7rem;
    border-radius: .3rem;
    font-size: .7rem;
    font-weight: bold;
    background-color: var(--button);
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}

.search button span {
    font-size: 1rem;
}

.search button:hover {
    filter: brightness(1.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 1rem 2rem -1rem rgba(0, 0, 0, 0.3);
}

table * {
    font-size: 1.2rem;
    color: var(--font);
}

table th {
    background: var(--tableHead);
    text-align: left;
    font-weight: normal;
    padding: 1rem;
}

table th:first-child {
    border-top-left-radius: .4rem;
}

table th:last-child {
    border-top-right-radius: .4rem;
}

table tr:nth-child(even) {
    background: var(--tableBody1);
}

table tr:nth-child(odd) {
    background: var(--tableBody2);
}

table td {
    padding: 1rem;
    text-align: left;
}

td.user {
    display: flex;
    align-items: center;
    gap: 1rem;
}

td.user img {
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    border-radius: 50%;
}

td.user a {
    text-decoration: none;
}

td.user a p {
    font-weight: bold;
}

td .remove {
    background: none;
    border: none;
    color: var(--fontRemove);
    cursor: pointer;
}